<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealTime-Chat-App</title>
</head>
<body>
    <div class="title">
        <h1>Hi, Welcome To Real TIme Stock Tracker</h1>
        <a href="/user/login"><button>Enter The App</button></a>
    </div>
</body>
</html>